<h1>Profile</h1>

<section>
    <h2>Account Info: </h2>
    <div>
        <label for="">First Name: </label>
        <%= currentUser.firstName %>
    </div>

    <div>
        <label for="">Last Name: </label>
        <%= currentUser.lastName %>
    </div>

    <div>
        <label for="">Email: </label>
        <%= currentUser.email %>
    </div>
</section>


<button>
    <a href="/auth/editPassword">Change Password</a>
</button>

<%if(currentUser.type === "regular"){%>
<h2>Booked Tours:</h2>
    <% bookedTours.forEach(function(tour) { %>
<section>
        <div>
            <label>Title:</label>
            <%= tour.title %>
        </div>
        <div>
            <label>Description:</label>
            <div><%= tour.description %></div>
        </div>
        <div>
            <label>Tour Guide:</label>
            <%=tour.tourGuide.firstName%> <%=tour.tourGuide.lastName%>
        </div>
        <div>
            <label>Date:</label>
            <%= tour.date %>
        </div>

        <form method="POST" action="/tours/<%= tour._id %>/cancel">
            <button type="submit">Cancel Tour</button>
        </form>
    <hr>
   
</section>
    <% }) %>
<% } %>