<div class="container">
    <h1 class="mt-4 mb-3"></h1>
    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-6 art-item">
            <div class="card h-100">
                <h4 class="card-header text-center">Account Info</h4>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">First Name: <%= currentUser.firstName %></li>
                        <li class="list-group-item">Last Name: <%= currentUser.lastName %></li>
                        <li class="list-group-item">Email Address: <%= currentUser.email %></li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-info btn-block" href="/auth/editPassword">Change Password</a>
                </div>
            </div>
        </div>
    </div>

    <%if(currentUser.type === "regular"){%>
    <% bookedTours.forEach(function(tour) { %>
    <section>
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-sm-6 art-item">
                <div class="card h-100">
                    <h4 class="card-header text-center">Booked Tour</h4>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Title: <%= tour.title %></li>
                            <li class="list-group-item">Description: <%= tour.description %></li>
                            <li class="list-group-item">Tour Guide: <%=tour.tourGuide.firstName%>
                                <%=tour.tourGuide.lastName%></li>
                            <li class="list-group-item">Date: <%= tour.date %></li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <form method="POST" action="/tours/<%= tour._id %>/cancel">
                            <button class="btn btn-info btn-block" type="submit">Cancel Tour</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% }) %>
    <% } %>
</div>