<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arts Museum App</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if (alerts.success) { %>
        <% alerts.success.forEach(function(msg){ %>
            <div class="alert alert-success">
                <%= msg %>
            </div>
        <% }) %>
    <% } %>

    <% if (alerts.error) { %>
        <% alerts.error.forEach(function(msg){ %>
            <div class="alert alert-danger">
                <%= msg %>
            </div>
        <% }) %>
    <% } %>

    <% if (alerts.autherror) { %>
        <% alerts.autherror.forEach(function(msg){ %>
            <div class="alert alert-danger">
                Your <%= msg.param %> has <%= msg.msg %>
            </div>
        <% }) %>
    <% } %>

    <nav>
      <a href="/home">Arts Museum</a>
      <a href="/home">Home</a>
      <a href="/artitems/list">Art Items</a>
      <a href="/artitems/search">Search</a>
      <a href="/tours/list">Tours</a>
      <% if (!currentUser) { %>
        <a href="/auth/signin">Sign In</a>
        <a href="/auth/signup">Sign Up</a>
      <% } else { %>
        <a href="/auth/profile">Profile</a>
        <a href="/auth/signout">Logout</a>
      <% } %>
    </nav>
    <%- body %>
  </body>
</html>