<div class="container">
    <h1 class="mt-4 mb-3"></h1>
    <img class="img-fluid rounded mb-4" src="https://www.metmuseum.org/-/media/images/visit/group-visits/group-visits_marquee.jpg?as=1&la=en&mh=1268&mw=4640&hash=98A752673B7BA732495F24924DE8B679" alt="Aivazovsky’s Seascapes">

    <!-- <h3>About the musem tours</h3>
    <p>You can peck one of tours you want</p> -->
    <div class="text-center">
        <% if (currentUser && currentUser.type == "admin") { %>
        <a class="btn btn-info" href="/tours/create">Create Tour</a>
        <% } %>
        <p class="help-block"></p>
    </div>
    <div class="text-center">
        <div class="row">
            <% tours.forEach(function(tour) { %>
            <div class="col-lg-4 col-sm-6 art-item">
                <div class="card h-100">
                    <h4 class="card-header text-center"><%= tour.title %></h4>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= tour.description %></li>
                            <li class="list-group-item">Tour Guide: <%=tour.tourGuide.firstName%>
                                <%=tour.tourGuide.lastName%></li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <% if(currentUser){ %>
                        <% if(currentUser.type === "admin"){ %>
                        <a class="btn btn-info btn-block" href="/tours/<%= tour._id %>">Explore</a>
                        <% } else if(currentUser.type === "regular"){%>
                        <% if (!currentUser.bookedTours.includes(tour._id)){ %>
                        <form method="POST" action="/tours/<%= tour._id %>/book">
                            <button class="btn btn-info btn-block" type="submit">Book Tour</button>
                        </form>
                        <% } else {%>
                        <form method="POST" action="/tours/<%= tour._id %>/cancel">
                            <button class="btn btn-info btn-block" type="submit">Cancel Tour</button>
                        </form>
                        <%}%>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>