<!-- Show tour page -->
<div>
    <div>
        <h3>About the musem tours</h3>
        <p>You can peck one of tours you want</p>
    </div>
</div>

<br>
<div>
    <h3>Available Tour</h3>
</div>

<% if (currentUser && currentUser.type == "admin") { %>
<button>
    <a href="/tours/create">Create</a>
</button>
<% } %>

<div>
    <% tours.forEach(function(tour) { %>
    <div>
        <div>
            <label>Title:</label>
            <%= tour.title %>
        </div>
        <div>
            <label>Description:</label>
            <div><%= tour.description %></div>
        </div>
        <div>
            <label>Tour Guide:</label>
            <%=tour.tourGuide.firstName%> <%=tour.tourGuide.lastName%>
        </div>
        <div>
            <label>Date:</label>
            <%= tour.date %>
        </div>
        <!-- show onle for admin onle -->
        <% if(currentUser){ %>
            <% if(currentUser.type === "admin"){ %>
                <button>
                    <a href="/tours/<%= tour._id %>">Explore</a>
                </button>
            <% } else if(currentUser.type === "regular"){%>
                <% if (!currentUser.bookedTours.includes(tour._id)){ %>
                <form method="POST" action="/tours/<%= tour._id %>/book">
                    <button type="submit">Book Tour</button>
                </form>
                <% } else {%>
                    <form method="POST" action="/tours/<%= tour._id %>/cancel">
                        <button type="submit">Cancel Tour</button>
                    </form>
                <%}%>
            <% } %>

        <% } %>
    </div>
    <hr>
    <% }) %>
</div>